<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='https://fonts.googleapis.com/css?family=Merriweather|Bree+Serif|Dosis:300,400,400i,700,800', rel='stylesheet')
        link(rel='stylesheet', href='/static/stylesheets/style.css')
    body

    block content
        script(src='/static/js/scripts.js')
        script(src='/static/js/vendor/jquery.js')